.mauwed {
  width: 100px;
  height: 100%;
  background-color: rgb(241, 57, 57);
}
.vitory {
  width: 1200px;
  height: 800px;
}
.mau_button {
  width: 150px;
  height: 75px;
  background-color: chartreuse;
}
